proxy_cache_path /data/nginx/cache keys_zone=mycache:10m;
server {
    listen       80;
    listen  [::]:80;
    server_name  localhost;
    gzip on;
    proxy_cache mycache;
    gzip_types    text/plain application/javascript application/x-javascript text/javascript text/xml text/css;
    location / {
       proxy_pass   http://host.docker.internal:3000;
    }
}
