<!DOCTYPE html>
<html lang="en">
<head>
    <title>Algorand Foundation | FIDO2 Demo</title>
    <meta name="description" content="FIDO2 on Algorand">
    <link id="favicon" rel="icon" href="/foundation_favicon.png" type="image/x-icon">
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@next/css/pico.min.css"
    />
    <script src="https://cdn.jsdelivr.net/gh/herrjemand/Base64URL-ArrayBuffer@latest/lib/base64url-arraybuffer.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        html, body {
            min-height: 100vh;
        }

        body {
            display: flex;
            flex-direction: column;
        }
        main {
            flex: 1;
        }
        .hidden {
            display: none;
        }
        .error {
            margin-top: var(--pico-spacing);
            color: var(--pico-contrast-inverse);
            background: var(--pico-del-color);
        }
    </style>
</head>
<body class="container">
<header>
    <hgroup>
        <h1>
            FIDO2 Demo
        </h1>
        <h2>
            Algorand Foundation
        </h2>
    </hgroup>
</header>
<main>
    <article>
        <header>
            <hgroup>
                <h1>Welcome</h1>
                <h2>
                    Wallet: {{wallet}}
                </h2>
            </hgroup>
        </header>
        <section>
            <p id="content"></p>
            <div id="list"></div>
            <p id="error"></p>
        </section>
        <footer>
        <button id="register" class="hidden">Add a credential</button>
        <a id="logout" href="/auth/logout" role="button">Sign out</a>
        </footer>
    </article>
</main>
<footer>
    Built with Nest, Pico and Vite
</footer>
<script type="module">
    import {render} from './dashboard.js'
    window.onload = render
</script>
</body>
</html>
