<!DOCTYPE html>
<html lang="en">
<head>
    <title>Algorand Foundation | FIDO2 Demo</title>
    <meta name="description" content="FIDO2 on Algorand">
    <link id="favicon" rel="icon" href="/foundation_favicon.png" type="image/x-icon">
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@next/css/pico.min.css"
    />
    <script src="https://cdn.jsdelivr.net/gh/herrjemand/Base64URL-ArrayBuffer@latest/lib/base64url-arraybuffer.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        html, body {
            min-height: 100vh;
        }

        body {
            display: flex;
            flex-direction: column;
        }

        main {
            flex: 1;
        }

        .hidden {
            display: none;
        }

        .error {
            margin-top: var(--pico-spacing);
            color: var(--pico-contrast-inverse);
            background: var(--pico-del-color);
        }
    </style>
</head>
<body class="container">
<header>
    <hgroup>
        <h1>
            FIDO2 Demo
        </h1>
        <h2>
            Algorand Foundation
        </h2>
    </hgroup>
</header>
<main>
    <article>
        <header>
            <hgroup>
                <h1>Welcome</h1>
                <h2>
                    Wallet: {{wallet}}
                </h2>
            </hgroup>
        </header>
        <section>
            <p id="content"></p>
            <div id="list"></div>
            <p id="error"></p>
        </section>
        <footer>
            <button id="transaction-button" data-target="modal" onclick="toggleModal(event)">Show Modal</button>
            <button id="register" class="hidden secondary">Add a credential</button>
            <a id="logout" href="/auth/logout" class="contrast" role="button">Sign out</a>
        </footer>
    </article>
    <dialog id="modal" open>
        <article>
            <header>
                <a
                        href="#close"
                        aria-label="Close"
                        class="close"
                        data-target="modal"
                        onclick="toggleModal(event)"
                >

                </a>
                Wallet Transaction
            </header>
            <section>
                <form id="transaction-form">
                    <!-- Grid -->
                    <div class="grid">

                        <!-- Markup example 1: input is inside label -->
                        <label for="from">
                            From
                            <input type="text" id="from" name="from" value="{{wallet}}" placeholder="AAAAAAAAAA" required>
                        </label>

                        <label for="to">
                            To
                            <input type="text" id="to" name="to" value="{{wallet}}"  placeholder="AAAAAAA" required>
                        </label>

                    </div>

                    <!-- Markup example 2: input is after label -->
                    <label for="amount">Amount - 50 microAlgos</label>
                    <input type="range" id="amount" name="amount" min="0" max="100" value="50" required>

                    <!-- Button -->
                    <button type="submit">Create QR</button>
                </form>

            </section>
            <footer>
                <canvas id="qrcode" class="hidden"></canvas>
            </footer>
        </article>
    </dialog>
</main>
<footer>
    Built with Nest, Pico and Vite
</footer>
<script src="/modal.js"></script>
<script type="module">


    // const canvas = document.getElementById('canvas')
    //
    // QRCode.toCanvas(canvas, {data: cbor.encode('Hello World'), mode: 'byte'}, function (error) {
    //     if (error) console.error(error)
    //     console.log('success!');
    // })
    // console.log(QRCode)
    import {render} from './dashboard.js'

    window.onload = render
</script>
</body>
</html>
