---
import '@fontsource/poppins/400.css';
import '@fontsource/poppins/500.css';
import '@fontsource/poppins/700.css';

import Header from '../components/header.astro';
import HeroSection from '../components/hero.astro';

---
<style is:global>
  html, body {
    height: 100%;
    overflow: hidden;
  }
</style>


<div class="bg-black h-full">
  <Header />
  <HeroSection />  
</div>
