---
const name = 'Liquid Auth';
const logo = '../../public/logo.svg';

const links = [
  {
    title: 'Deep Dive',
    href: '/dive'
  },
  {
    title: 'Features',
    href: '/features'
  },
  {
    title: 'Demo',
    href: '/demo'
  }
];

---
<header class="absolute inset-x-0 top-0 z-50">
  <nav class="flex items-center justify-center lg:justify-between p-6 lg:px-16" aria-label="Global">
    <div class="h-16 flex flex-col lg:flex-row lg:flex-1 items-center gap-2">
      <img class="h-12 w-auto" src={logo} alt="">
      <div class="h-16 flex flex-col items-stretch justify-between">
        <h1 class="text-2xl text-white font-extrabold uppercase">Liquid</h1>
        <h1 class="text-2xl [font-stretch:expanded] text-white stretch font-extrabold uppercase">Auth</h1>
      </div>
    </div>
    <div class="hidden lg:flex lg:flex-1 lg:gap-x-12 items-center lg:justify-end">
      {links.map(({ title, href }) =>
        <a href={href} class="font-poppins text-md leading-6 text-white">{title}</a>
      )}
      <a href="/docs" class="px-6 py-2 font-poppins uppercase rounded-full leading-6 bg-liquid-purple text-white">Documentation</a>
    </div>
  </nav>
</header>
