---
const title = 'Web3 meets real world';
const titleEmph = 'Authentication';

const description = 'Enabled by FIDO2/WebAuthn Liquid Auth unlocks the power of everyday authenication syustems and bridges it to elliptic curves. Give your users an unmatched UX';
---
<div class="h-full flex justify-center items-center relative isolate">
  <div class="mx-auto max-w-5xl py-32 sm:py-48 lg:py-56">
    <div class="text-center">
      <h1 class="text-[5.5rem] font-bold tracking-tight text-white">{title}</h1>
      <h1 class="text-[5.5rem] font-bold tracking-tight text-white bg-clip-text text-transparent bg-gradient-to-r from-liquid-blue to-liquid-purple">{titleEmph}</h1>
      <p class="mt-6 max-w-2xl mx-auto text-lg leading-8 text-gray-300">{description}</p>
    </div>
  </div>
</div>
