:root {
  --sl-color-accent-low: #001324;
  --sl-color-accent: #a9a9f6;
  --sl-color-accent-high: #5858f0;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #e5e7e9;
  --sl-color-gray-2: #c8c9d4;
  --sl-color-gray-3: #c8c9d4;
  --sl-color-gray-4: #334250;
  --sl-color-gray-5: #192a39;
  --sl-color-gray-6: #001324;
  --sl-color-gray-7: #001324;
  --sl-color-black: #001324;
  --sl-color-banner-bg: #a9a9f6 !important;
  --sl-color-text-accent: oklch(55.39% 0.222 276.4);
  --sl-color-accent-medium: #bfbff9;
}
/* Light mode colors. */
:root[data-theme='light'] {
  --sl-color-accent-low: #c7d6ff;
  --sl-color-accent: #a9a9f6;
  --sl-color-accent-high: #5858f0;
  --sl-color-white: #282930;
  --sl-color-gray-1: #24272f;
  --sl-color-gray-2: #353841;
  --sl-color-gray-3: #60646e;
  --sl-color-gray-4: #888b96;
  --sl-color-gray-5: #c0c2c7;
  --sl-color-gray-6: #ccd0d3;
  --sl-color-gray-7: #ffffff;
  --sl-color-black: #ffffff;
  --sl-color-banner-bg: #2d2df1 !important;
  --sl-color-text-accent: oklch(55.39% 0.222 276.4);
  --sl-color-accent-medium: #c7d6ff;
}

pre,
code {
  padding: 0.2rem 0.4rem;
  border-radius: 0.2rem;
}

:root[data-theme='dark'] {
  [data-icon] {
    color: var(--color-icon-dark);
  }
  article.card {
    background-color: var(--color-gray-800);
  }
}
:root[data-theme='light'] {
  [data-icon] {
    color: var(--color-icon-light);
  }
  article.card {
    background-color: #edf2ff;
  }
}

/* Sidebar - remove vertical lines */
ul.top-level li {
  border-inline-start: none;
}

/* Font Overrides */
:root {
  --sl-text-2xs: 0.75rem;
  --sl-text-xs: 0.825rem;
  --sl-text-sm: 0.85rem;
  --sl-text-base: 0.875rem;
  --sl-text-lg: 1.125rem;
  --sl-text-xl: 1.25rem;
  --sl-text-2xl: 1.5rem;
  --sl-text-3xl: 1.8125rem;
  --sl-text-4xl: 2.1875rem;
  --sl-text-5xl: 2.625rem;
  --sl-text-6xl: 4rem;
  --sl-text-body: var(--sl-text-base);
  --sl-text-body-sm: var(--sl-text-xs);
  --sl-text-code: var(--sl-text-sm);
  --sl-text-code-sm: var(--sl-text-xs);
  --__sl-font: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Aeonik', sans-serif;
}

/* Hide panel borders */
.sidebar-pane {
  border: none;
}
.right-sidebar {
  border: none;
}
.content-panel + .content-panel {
  border: none;
}
header.header {
  border: none;
}
